@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2"), url("../fonts/OpenSans-Bold.woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff2"), url("../fonts/OpenSans-SemiBold.woff");
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBoldItalic.woff2"), url("../fonts/OpenSans-SemiBoldItalic.woff");
  font-display: swap;
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2"), url("../fonts/OpenSans-Regular.woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Light.woff2"), url("../fonts/OpenSans-Light.woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: "OpenSans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  background-color: #FFFFFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 1240px;
  min-width: 320px;
}
@media (max-width: 1240px) {
  .container {
    padding: 0 40px;
  }
}
@media (max-width: 710px) {
  .container {
    padding: 0 20px;
  }
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 116.68%;
}
@media (max-width: 578px) {
  .title {
    font-size: 26px;
  }
}

.paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 116.68%;
}
@media (max-width: 578px) {
  .paragraph {
    font-size: 16px;
  }
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.black {
  background-color: #0A0308;
}

.green {
  height: 100%;
  background: linear-gradient(93.7deg, #7BD7BD 4.94%, #DBE774 36.82%, #C7DE8A 95.51%);
}

.grey-text {
  display: inline-block;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 116.68%;
  color: #999999;
}
@media (max-width: 1240px) {
  .grey-text {
    margin-bottom: 30px;
  }
}
@media (max-width: 990px) {
  .grey-text {
    font-size: 25px;
  }
}
@media (max-width: 578px) {
  .grey-text {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 116.68%;
  color: #0A0308;
}
@media (max-width: 1240px) {
  .section-title {
    font-size: 44px;
  }
}
@media (max-width: 990px) {
  .section-title {
    margin-bottom: 40px;
    font-size: 38px;
  }
}
@media (max-width: 578px) {
  .section-title {
    font-size: 30px;
  }
}

.gradient {
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(91.4deg, #8D46F6 1.01%, #4D07B5 46.98%);
}

.header {
  height: 100px;
}
@media (max-width: 578px) {
  .header {
    padding-top: 11px;
    padding-bottom: 13px;
    height: 137px;
  }
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
@media (max-width: 578px) {
  .header__container {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.header__link {
  position: relative;
}
.header__link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #4D07B5;
  opacity: 0;
}
@media (max-width: 578px) {
  .header__logo {
    width: 95%;
  }
}
.header__tel {
  font-weight: 400;
  font-size: 24px;
  line-height: 116.68%;
  color: #0A0308;
  transition: all 0.3s ease-in-out;
}
.header__tel:focus {
  outline: 1px solid #4D07B5;
  outline-offset: 2px;
}
@media (min-width: 1025px) {
  .header__tel:hover {
    color: #8D46F6;
  }
  .header__tel:active {
    color: #4D07B5;
  }
}
@media (max-width: 578px) {
  .header__tel {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
}

.hero {
  padding: 28px 0 70px 0;
  background-image: linear-gradient(93.7deg, #7BD7BD 4.94%, #DBE774 36.82%, #C7DE8A 95.51%), url("../img/hero.svg");
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-position: right 0 center;
}
@media (max-width: 1240px) {
  .hero {
    padding-top: 24px;
    padding-bottom: 62px;
    background-position: right -30% center;
  }
}
@media (max-width: 710px) {
  .hero {
    padding-bottom: 50px;
    background-image: linear-gradient(93.7deg, #7BD7BD 4.94%, #DBE774 36.82%, #C7DE8A 95.51%), url("../img/hero_320.png");
    background-position: right top 25%;
  }
}
@media (max-width: 578px) {
  .hero {
    padding-top: 30px;
    padding-bottom: 34px;
  }
}
.hero__title {
  margin-bottom: 150px;
  font-weight: 700;
  font-size: 100px;
  line-height: 150px;
  color: #0A0308;
}
@media (max-width: 1240px) {
  .hero__title {
    margin-bottom: 178px;
    font-size: 101px;
  }
}
@media (max-width: 990px) {
  .hero__title {
    font-size: 80px;
  }
}
@media (max-width: 710px) {
  .hero__title {
    margin-bottom: 150px;
    font-size: 71px;
  }
}
@media (max-width: 578px) {
  .hero__title {
    margin-bottom: 255px;
    font-size: 30px;
    line-height: 50px;
  }
}
.hero__paragraph {
  width: 54%;
  margin-bottom: 68px;
  font-size: 30px;
  color: #0A0308;
}
@media (max-width: 1240px) {
  .hero__paragraph {
    width: 75%;
    margin-bottom: 56px;
  }
}
@media (max-width: 990px) {
  .hero__paragraph {
    width: 100%;
  }
}
@media (max-width: 710px) {
  .hero__paragraph {
    font-size: 27px;
  }
}
@media (max-width: 578px) {
  .hero__paragraph {
    margin-bottom: 37px;
  }
}
.hero__btns {
  display: flex;
}
@media (max-width: 710px) {
  .hero__btns {
    flex-wrap: wrap;
  }
}
.hero__btn {
  position: relative;
  padding: 10px 25px;
  font-weight: 400;
  font-size: 24px;
  line-height: 116.68%;
  text-align: center;
  color: #0A0308;
}
@media (max-width: 710px) {
  .hero__btn {
    padding: 9px 10px;
  }
}
@media (max-width: 578px) {
  .hero__btn {
    font-size: 22px;
  }
}
.hero__btn--yellow {
  margin-right: 20px;
  background: #F0FF74;
  border: 2px solid transparent;
  border-radius: 16px;
  transition: color 0.1s ease-in-out, background 0.3s ease-in-out;
}
.hero__btn--yellow:focus {
  background: #8D46F6;
}
@media (min-width: 1025px) {
  .hero__btn--yellow:hover {
    color: #FFFFFF;
    background: linear-gradient(91.4deg, #8D46F6 1.01%, #4D07B5 46.98%);
  }
  .hero__btn--yellow:active {
    background: #4D07B5;
  }
}
@media (max-width: 578px) {
  .hero__btn--yellow {
    margin-right: 0;
    margin-bottom: 15px;
    width: 100%;
  }
}
.hero__btn--order-call {
  border: 2px solid #0A0308;
  border-radius: 16px;
  transition: all 0.3s ease-in-out;
}
.hero__btn--order-call:focus {
  background: #8D46F6;
}
@media (min-width: 1025px) {
  .hero__btn--order-call:hover {
    color: #0A0308;
    background: #F0FF74;
    border-color: transparent;
  }
  .hero__btn--order-call:active {
    color: #0A0308;
    background: #F0FF74;
  }
}
@media (max-width: 578px) {
  .hero__btn--order-call {
    width: 100%;
  }
}

.why {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1240px) {
  .why {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 578px) {
  .why {
    padding-top: 40px;
  }
}
.why__section-title {
  color: #0A0308;
}
.why__title {
  color: #FFFFFF;
}
.why__block {
  display: flex;
}
@media (max-width: 1240px) {
  .why__block {
    flex-wrap: wrap;
  }
}
@media (max-width: 578px) {
  .why__block {
    flex-direction: column;
  }
}
.why__card {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.why__card:not(:last-child) {
  margin-right: 20px;
}
@media (max-width: 1240px) {
  .why__card:not(:last-child) {
    margin-right: unset;
  }
}
@media (max-width: 1240px) {
  .why__card {
    width: 48%;
  }
  .why__card:not(:nth-child(2n)) {
    margin-right: 20px;
  }
  .why__card:nth-child(n+2) {
    margin-bottom: 20px;
  }
}
@media (max-width: 578px) {
  .why__card {
    width: 100%;
  }
  .why__card:not(:nth-child(2n)) {
    margin-right: unset;
  }
  .why__card:nth-child(n+2) {
    margin-bottom: unset;
  }
  .why__card:not(:last-child) {
    margin-bottom: 25px;
  }
}
.why__top {
  margin-bottom: 17px;
}
@media (max-width: 578px) {
  .why__top {
    margin-bottom: 10px;
  }
}
.why__image {
  height: 224px;
  width: 100%;
  border-radius: 16px;
}
@media (max-width: 1240px) {
  .why__image {
    height: 100%;
  }
}
.why__title-small {
  margin-bottom: 8px;
  font-size: 25px;
  color: #0A0308;
}
@media (max-width: 990px) {
  .why__title-small {
    font-size: 23px;
  }
}
@media (max-width: 578px) {
  .why__title-small {
    margin-bottom: 12px;
  }
}
.why__paragraph {
  font-size: 19px;
  color: #0A0308;
}
@media (max-width: 990px) {
  .why__paragraph {
    font-size: 18px;
  }
}
@media (max-width: 578px) {
  .why__paragraph {
    font-size: 16px;
  }
}

.advantages {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1240px) {
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 578px) {
  .advantages {
    padding-top: 35px;
  }
}
.advantages__section-title {
  color: #FFFFFF;
}
@media (max-width: 1240px) {
  .advantages__section-title {
    margin-bottom: 59px;
  }
}
@media (max-width: 578px) {
  .advantages__section-title {
    margin-bottom: 43px;
  }
}
.advantages__block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
@media (max-width: 990px) {
  .advantages__block {
    grid-template-columns: 1fr;
  }
}
.advantages__card {
  display: flex;
  padding: 28px 39px 30px 25px;
  background: rgba(153, 153, 153, 0.1);
  border-radius: 16px;
}
@media (max-width: 1240px) {
  .advantages__card {
    padding: 21px 5px 48px 25px;
  }
}
@media (max-width: 578px) {
  .advantages__card {
    align-items: center;
    justify-content: center;
    padding: 20px 4px 20px 21px;
  }
}
.advantages__left {
  position: relative;
  display: flex;
  margin-right: 33px;
  width: 164px;
  height: 164px;
  background: #0A0308;
  border-radius: 50%;
}
@media (max-width: 1240px) {
  .advantages__left {
    align-self: center;
    margin-right: 12px;
    width: 126px;
    height: 126px;
  }
}
@media (max-width: 578px) {
  .advantages__left {
    margin-right: 22px;
    width: 67px;
    height: 67px;
  }
}
.advantages__right {
  width: 70%;
}
.advantages__img {
  position: absolute;
  top: 28%;
  left: 28%;
}
@media (max-width: 1240px) {
  .advantages__img {
    width: 43%;
  }
}
.advantages__img--five {
  left: 20%;
}
@media (max-width: 1240px) {
  .advantages__img--five {
    width: 59%;
  }
}
.advantages__title {
  margin-bottom: 7px;
  color: #FFFFFF;
}
@media (max-width: 578px) {
  .advantages__title {
    font-size: 24px;
  }
}
.advantages__paragraph {
  color: #FFFFFF;
}
@media (max-width: 578px) {
  .advantages__paragraph {
    font-size: 14px;
  }
}

.service {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1240px) {
  .service {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 578px) {
  .service {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}
@media (max-width: 710px) {
  .service__slider {
    padding-bottom: 60px;
  }
}
.service__slider-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
}
@media (max-width: 710px) {
  .service__slider-wrapper {
    flex-wrap: nowrap;
  }
}
.service__section-title {
  margin-bottom: 49px;
}
@media (max-width: 1240px) {
  .service__section-title {
    margin-bottom: 59px;
  }
}
@media (max-width: 990px) {
  .service__section-title {
    margin-bottom: 40px;
  }
}
.service__card {
  padding: 18px 232px 100px 23px;
  width: 49%;
  height: 368px;
  background: #0A0308;
  border-radius: 16px;
  background-repeat: no-repeat;
  background-position: center right;
}
.service__card:nth-child(2n+1) {
  margin-right: 20px;
  margin-bottom: 20px;
}
@media (max-width: 710px) {
  .service__card:nth-child(2n+1) {
    margin-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 578px) {
  .service__card:nth-child(2n+1) {
    background-size: 85%;
  }
}
@media (max-width: 1240px) {
  .service__card {
    padding-right: 30px;
    width: 48.9%;
    height: 488px;
    background-position: right bottom;
  }
}
@media (max-width: 990px) {
  .service__card {
    padding: 18px 16px 100px 25px;
    width: 48%;
  }
}
@media (max-width: 710px) {
  .service__card {
    width: 100%;
  }
}
.service__swiper-pagination {
  display: none;
}
@media (max-width: 710px) {
  .service__swiper-pagination {
    display: inline-block;
  }
  .service__swiper-pagination > .swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background: #7BD7BD;
    opacity: 1;
  }
  .service__swiper-pagination > .swiper-pagination-bullet-active {
    background: #F0FF74;
  }
}
.service__title {
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 36px;
  line-height: 116.68%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1240px) {
  .service__title {
    font-size: 32px;
  }
}
@media (max-width: 990px) {
  .service__title {
    font-size: 21px;
  }
}
@media (max-width: 710px) {
  .service__title {
    font-size: 32px;
  }
}
@media (max-width: 578px) {
  .service__title {
    font-size: 24px;
  }
}
.service__paragraph {
  font-weight: 400;
  font-size: 20px;
  line-height: 116.68%;
  color: #FFFFFF;
}
@media (max-width: 578px) {
  .service__paragraph {
    font-size: 16px;
  }
}
.service__card--1 {
  background-image: url("../img/service-1.png");
}
.service__card--2 {
  background-image: url("../img/service-2.png");
}
.service__card--3 {
  background-image: url("../img/service-3.png");
}
.service__card--4 {
  background-image: url("../img/service-4.png");
}
.service__card--5 {
  background-image: url("../img/service-5.png");
}
.service__card--6 {
  padding-right: 252px;
  background-image: url("../img/service-6.png");
}
@media (max-width: 1240px) {
  .service__card--6 {
    padding-right: 30px;
  }
}
.service__card--7 {
  background-image: url("../img/service-7.png");
  background-position: bottom 32% right;
}
@media (max-width: 1240px) {
  .service__card--7 {
    background-position: bottom 0 right;
  }
}
.service__card--8 {
  padding-right: 297px;
  background-image: url("../img/service-8.png");
  background-position: bottom -1% right;
}
@media (max-width: 1240px) {
  .service__card--8 {
    padding-right: 30px;
  }
}

@media (max-width: 578px) {
  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
  }
}
.promo {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(93.7deg, #7BD7BD 4.94%, #DBE774 36.82%, #C7DE8A 95.51%), url("../img/back.svg");
  background-blend-mode: color;
}
@media (max-width: 1240px) {
  .promo {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.promo__link {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
@media (min-width: 1025px) {
  .promo__link:hover {
    transform: scale(1.05);
  }
}
.promo__svg {
  width: 65%;
}
.promo__title {
  width: 90%;
  font-weight: 600;
  font-size: 64px;
  line-height: 116.68%;
  color: #0A0308;
}
@media (max-width: 1240px) {
  .promo__title {
    font-size: 48px;
  }
}
@media (max-width: 578px) {
  .promo__title {
    font-size: 30px;
  }
}
.promo__title i {
  font-style: italic;
}

.work {
  padding-top: 100px;
  padding-bottom: 121px;
}
@media (max-width: 1240px) {
  .work {
    padding-top: 66px;
  }
}
@media (max-width: 990px) {
  .work {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 578px) {
  .work {
    padding-top: 35px;
  }
}
.work__section-title {
  margin-bottom: 69px;
  width: 91%;
  color: #FFFFFF;
}
@media (max-width: 1240px) {
  .work__section-title {
    margin-bottom: 60px;
    width: 90%;
  }
}
@media (max-width: 578px) {
  .work__section-title {
    margin-bottom: 41px;
    width: 100%;
  }
}
.work__btn {
  margin-bottom: 69px;
  padding: 10px 28px;
  font-weight: 400;
  font-size: 24px;
  line-height: 116.68%;
  color: #0A0308;
  background: #F0FF74;
  border-radius: 16px;
}
.work__btn:focus {
  background: #8D46F6;
}
@media (min-width: 1025px) {
  .work__btn:hover {
    color: #FFFFFF;
    background: linear-gradient(91.4deg, #8D46F6 1.01%, #4D07B5 46.98%);
  }
  .work__btn:active {
    background: #4D07B5;
  }
}
@media (max-width: 1240px) {
  .work__btn {
    margin-bottom: 60px;
  }
}
@media (max-width: 578px) {
  .work__btn {
    margin-bottom: 39px;
    width: 100%;
  }
}
.work__grid {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 710px) {
  .work__grid {
    flex-direction: column;
  }
}
.work__card {
  width: 49.2%;
  padding: 17px 14px 84px 25px;
  background: rgba(153, 153, 153, 0.1);
  border-radius: 16px;
}
@media (max-width: 710px) {
  .work__card {
    width: 100%;
  }
}
@media (max-width: 578px) {
  .work__card {
    padding: 19px 19px 20px 18px;
  }
}
.work__card--long {
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
  margin-bottom: 20px;
  width: 100%;
}
@media (max-width: 990px) {
  .work__card--long {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
@media (max-width: 578px) {
  .work__card--long {
    margin-bottom: 26px;
    padding-bottom: 26px;
  }
}
.work__card:nth-child(2) {
  margin-right: auto;
}
@media (max-width: 710px) {
  .work__card:nth-child(2) {
    margin-right: unset;
    margin-bottom: 20px;
  }
}
.work__left {
  width: 50%;
}
@media (max-width: 1240px) {
  .work__left {
    width: 60%;
  }
}
@media (max-width: 990px) {
  .work__left {
    width: 100%;
  }
}
.work__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 7px;
  padding-right: 61px;
}
@media (max-width: 1240px) {
  .work__right {
    padding-top: 40px;
    padding-right: 19px;
  }
}
@media (max-width: 990px) {
  .work__right {
    padding-top: 20px;
  }
}
@media (max-width: 578px) {
  .work__right {
    padding: 0;
    padding-top: 12px;
  }
}
.work__card--title {
  margin-bottom: 33px;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (max-width: 578px) {
  .work__card--title {
    margin-bottom: 10px;
    font-size: 14px;
  }
}
.work__title {
  font-weight: 600;
  font-size: 36px;
  line-height: 116.68%;
  color: #FFFFFF;
}
@media (max-width: 1240px) {
  .work__title {
    font-size: 32px;
  }
}
@media (max-width: 578px) {
  .work__title {
    font-size: 22px;
  }
}
.work__right--paragraph {
  margin-bottom: 35px;
  font-weight: 400;
  font-size: 20px;
  line-height: 116.68%;
  text-align: right;
  color: #999999;
}
@media (max-width: 1240px) {
  .work__right--paragraph {
    margin-bottom: 70px;
  }
}
@media (max-width: 578px) {
  .work__right--paragraph {
    margin-bottom: 20px;
    font-size: 14px;
  }
}
@media (max-width: 990px) {
  .work__right--paragraph-last {
    margin-bottom: 0;
  }
}
.work__gradient-text {
  font-weight: 600;
  font-size: 100px;
  line-height: 116.68%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(91.94deg, #7BD7BD 0.54%, #DEF77E 107.88%);
}
@media (max-width: 1240px) {
  .work__gradient-text {
    font-size: 80px;
  }
}
@media (max-width: 578px) {
  .work__gradient-text {
    font-size: 60px;
  }
}
.work__gradient-text--small {
  font-size: 60px;
}
@media (max-width: 1240px) {
  .work__gradient-text--small {
    font-size: 46px;
  }
}
@media (max-width: 578px) {
  .work__gradient-text--small {
    font-size: 36px;
  }
}

.clients {
  padding-top: 100px;
  padding-bottom: 37px;
}
@media (max-width: 1240px) {
  .clients {
    padding-top: 58px;
    padding-bottom: 15px;
  }
}
@media (max-width: 578px) {
  .clients {
    padding-top: 40px;
  }
}
.clients__section-title {
  margin-bottom: 50px;
}
.clients__swiper {
  padding-bottom: 107px;
}
@media (max-width: 1240px) {
  .clients__swiper {
    padding-bottom: 95px;
  }
}
.clients__swiper-wrapper {
  align-items: center;
}
.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.clients__link:focus {
  outline: 2px solid #4D07B5;
}
@media (min-width: 1025px) {
  .clients__link:hover {
    opacity: 0.7;
  }
  .clients__link:active {
    outline: 2px solid #4D07B5;
  }
}
.clients__swiper-img {
  align-self: center;
}
.clients__swiper-pagination > .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: #7BD7BD;
  opacity: 1;
}
@media (max-width: 1240px) {
  .clients__swiper-pagination > .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
.clients__swiper-pagination > .swiper-pagination-bullet-active {
  background: #F0FF74;
}

.steps {
  padding-top: 49px;
  padding-bottom: 50px;
}
@media (max-width: 1240px) {
  .steps {
    padding-top: 29px;
    padding-bottom: 25px;
  }
}
.steps__section-title {
  width: 90%;
}
@media (max-width: 1240px) {
  .steps__section-title {
    margin-bottom: 60px;
    width: 100%;
  }
}
@media (max-width: 578px) {
  .steps__section-title {
    margin-bottom: 38px;
  }
}
.steps__accordion {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  width: 100%;
  text-align: left;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  outline: none;
  color: #4D07B5;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s ease-in;
}
@media (min-width: 1025px) {
  .steps__accordion:hover .steps__text {
    color: #8D46F6;
  }
}
@media (max-width: 1240px) {
  .steps__accordion {
    padding: 51px 0;
  }
}
@media (max-width: 710px) {
  .steps__accordion {
    padding: 30px 0;
  }
}
@media (max-width: 578px) {
  .steps__accordion {
    padding: 15px 0;
  }
}
.steps__accordion.active .steps__arrow {
  transform: rotate(180deg);
}
.steps__number {
  display: inline-block;
  margin-right: 106px;
  font-style: normal;
  font-weight: 300;
  font-size: 38px;
  line-height: 116.68%;
  color: #999999;
}
@media (max-width: 1240px) {
  .steps__number {
    margin-right: 32px;
    font-size: 36px;
  }
}
@media (max-width: 710px) {
  .steps__number {
    margin-right: 20px;
    font-size: 30px;
  }
}
@media (max-width: 578px) {
  .steps__number {
    margin-right: 13px;
    font-size: 22px;
  }
}
.steps__text {
  display: inline-block;
  margin-right: auto;
  font-weight: 600;
  font-size: 38px;
  line-height: 116.68%;
  color: #0A0308;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1240px) {
  .steps__text {
    max-width: 75%;
    font-size: 36px;
  }
}
@media (max-width: 710px) {
  .steps__text {
    font-size: 22px;
  }
}
@media (max-width: 578px) {
  .steps__text {
    font-size: 18px;
  }
}
.steps__arrow {
  display: inline-block;
  margin-left: 10px;
  margin-right: 41px;
  width: 26px;
  height: 39px;
  background-image: url("../img/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 710px) {
  .steps__arrow {
    width: 12px;
    height: 18px;
    margin-left: 5px;
    margin-right: 2px;
  }
}
.steps__panel {
  max-height: 0;
  background-color: white;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.steps__panel > p {
  padding: 20px 18px;
}
@media (max-width: 578px) {
  .steps__panel > p {
    font-size: 16px;
  }
}

.consult {
  padding-top: 80px;
  padding-bottom: 80px;
}
@media (max-width: 1240px) {
  .consult {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 578px) {
  .consult {
    padding-bottom: 45px;
  }
}
.consult__section-title {
  width: 68%;
}
@media (max-width: 1240px) {
  .consult__section-title {
    width: 92%;
  }
}
@media (max-width: 990px) {
  .consult__section-title {
    width: 100%;
  }
}
.consult__paragraph {
  margin-bottom: 24px;
  font-weight: 600;
  font-size: 36px;
  line-height: 116.68%;
  color: #0A0308;
}
@media (max-width: 1240px) {
  .consult__paragraph {
    margin-bottom: 32px;
    font-size: 32px;
  }
}
@media (max-width: 578px) {
  .consult__paragraph {
    margin-bottom: 22px;
    font-size: 18px;
  }
}

.form {
  display: flex;
  flex-direction: column;
}
.form__label {
  position: relative;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid #999999;
}
@media (max-width: 578px) {
  .form__label {
    padding: 22px 0;
  }
}
.form__label > .just-validate-error-label {
  position: absolute;
  top: 4px;
  left: 0;
  display: inline-block;
  width: 100%;
  font-size: 15px;
}
@media (max-width: 578px) {
  .form__label > .just-validate-error-label {
    font-size: 10px;
  }
}
.form__input {
  width: 100%;
  font-weight: 400;
  font-size: 36px;
  line-height: 116.68%;
  color: #000000;
  outline: none;
}
.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 36px;
  line-height: 116.68%;
  color: #999999;
}
.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 36px;
  line-height: 116.68%;
  color: #999999;
}
.form__input::placeholder {
  font-weight: 400;
  font-size: 36px;
  line-height: 116.68%;
  color: #999999;
}
@media (max-width: 578px) {
  .form__input::-moz-placeholder {
    font-size: 18px;
  }
  .form__input:-ms-input-placeholder {
    font-size: 18px;
  }
  .form__input::placeholder {
    font-size: 18px;
  }
}
@media (max-width: 578px) {
  .form__input {
    font-size: 18px;
  }
}
.form__accept {
  display: flex;
  align-items: center;
  margin-top: 44px;
}
@media (max-width: 578px) {
  .form__accept {
    flex-direction: column;
    margin-top: 35px;
  }
}
.form__btn {
  display: inline-block;
  margin-right: 52px;
  padding: 10px 27px;
  min-width: 178px;
  min-height: 48px;
  font-weight: 400;
  font-size: 24px;
  line-height: 116.68%;
  color: #0A0308;
  background: #F0FF74;
  border-radius: 16px;
}
.form__btn:focus {
  background: #8D46F6;
}
@media (min-width: 1025px) {
  .form__btn:hover {
    color: #FFFFFF;
    background: linear-gradient(91.4deg, #8D46F6 1.01%, #4D07B5 46.98%);
  }
  .form__btn:active {
    background: #4D07B5;
  }
}
@media (max-width: 1240px) {
  .form__btn {
    margin-right: 30px;
  }
}
@media (max-width: 578px) {
  .form__btn {
    margin-right: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}
.form__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 116.68%;
  color: #0A0308;
}
@media (max-width: 578px) {
  .form__text {
    font-size: 16px;
  }
}
.form__text a {
  transition: all 0.3s ease-in-out;
}
.form__text a:focus {
  color: #8D46F6;
}
@media (min-width: 1025px) {
  .form__text a:hover, .form__text a:active {
    color: #8D46F6;
  }
}

.footer {
  padding-top: 140px;
  padding-bottom: 70px;
  background: #0A0308 url("../img/back.svg") no-repeat;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1240px) {
  .footer {
    padding-top: 90px;
  }
}
@media (max-width: 578px) {
  .footer {
    padding-top: 49px;
    padding-bottom: 38px;
  }
}
.footer__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 148px;
}
@media (max-width: 1240px) {
  .footer__block {
    flex-wrap: wrap;
    margin-bottom: 71px;
  }
}
@media (max-width: 578px) {
  .footer__block {
    margin-bottom: 62px;
  }
}
.footer__card {
  width: 33%;
}
@media (max-width: 1240px) {
  .footer__card {
    width: 47%;
  }
  .footer__card:nth-child(-n+2) {
    margin-bottom: 68px;
  }
}
@media (max-width: 1240px) and (max-width: 578px) {
  .footer__card:nth-child(-n+2) {
    margin-bottom: 60px;
  }
}
@media (max-width: 710px) {
  .footer__card {
    width: 100%;
  }
}
.footer__card--title {
  margin-bottom: 33px;
  font-weight: 400;
  font-size: 20px;
  line-height: 116.68%;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 578px) {
  .footer__card--title {
    margin-bottom: 19px;
    font-size: 14px;
  }
}
.footer__link {
  display: inline-block;
  margin-bottom: 1px;
  font-weight: 600;
  font-size: 36px;
  line-height: 116.68%;
  color: #FFFFFF;
  transition: all 0.3s ease-in-out;
}
.footer__link:focus {
  color: #8D46F6;
}
@media (min-width: 1025px) {
  .footer__link:hover {
    color: #F0FF74;
  }
  .footer__link:active {
    color: #F0FF74;
  }
}
@media (max-width: 578px) {
  .footer__link {
    font-size: 24px;
  }
}
.footer__white {
  font-weight: 600;
  font-size: 36px;
  line-height: 116.68%;
  color: #FFFFFF;
}
@media (max-width: 578px) {
  .footer__white {
    font-size: 24px;
  }
}
.footer__green {
  margin-top: 39px;
  font-weight: 600;
  font-size: 24px;
  line-height: 116.68%;
  color: #F0FF74;
}
@media (max-width: 578px) {
  .footer__green {
    margin-top: 19px;
    font-size: 18px;
  }
}
@media (max-width: 578px) {
  .footer__bottom {
    display: flex;
    flex-direction: column;
  }
}
.footer__copyright, .footer__policy {
  font-weight: 400;
  font-size: 20px;
  line-height: 116.68%;
  color: #FFFFFF;
}
@media (max-width: 578px) {
  .footer__copyright, .footer__policy {
    font-size: 16px;
  }
}
.footer__copyright {
  margin-right: 40px;
}
@media (max-width: 578px) {
  .footer__copyright {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.footer__policy {
  transition: all 0.3s ease-in-out;
}
.footer__policy:focus {
  background: #8D46F6;
}
@media (min-width: 1025px) {
  .footer__policy:hover {
    color: #F0FF74;
  }
  .footer__policy:active {
    background: #F0FF74;
  }
}