.advantages {
  padding-top: 80px;
  padding-bottom: 80px;

  @include desktop {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include mobile {
    padding-top: 35px;
  }

  &__section-title {
    color: #FFFFFF;
    @include desktop {
      margin-bottom: 59px;
    }

    @include mobile {
      margin-bottom: 43px;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;

    @include tablet {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    display: flex;
    padding: 28px 39px 30px 25px;
    background: rgba(153, 153, 153, 0.1);
    border-radius: 16px;

    @include desktop {
      padding: 21px 5px 48px 25px;
    }

    @include mobile {
      align-items: center;
      justify-content: center;
      padding: 20px 4px 20px 21px;
    }
  }

  &__left {
    position: relative;
    display: flex;
    margin-right: 33px;
    width: 164px;
    height: 164px;
    background: #0A0308;
    border-radius: 50%;

    @include desktop {
      align-self: center;
      margin-right: 12px;
      width: 126px;
      height: 126px;
    }

    @include mobile {
      margin-right: 22px;
      width: 67px;
      height: 67px;
    }
  }

  &__right {
    width: 70%;
  }

  &__img {
    position: absolute;
    top: 28%;
    left: 28%;

    @include desktop {
      width: 43%;
    }

    &--five {
      left: 20%;

      @include desktop {
        width: 59%;
      }
    }

  }

  &__title {
    margin-bottom: 7px;
    color: #FFFFFF;

    @include mobile {
      font-size: 24px;
    }
  }

  &__paragraph {
    color: #FFFFFF;

    @include mobile {
      font-size: 14px;
    }
  }
}