.advantages {
  padding-top: 102px;
  padding-bottom: 126px;

  @include desktop {
    padding-top: 69px;
    padding-bottom: 80px;
  }

  &__section-title {
    color: #FFFFFF;
    @include desktop {
      margin-bottom: 59px;
    }
  }

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  &__card {
    display: flex;
    padding: 28px 39px 30px 25px;
    background: rgba(153, 153, 153, 0.1);
    border-radius: 16px;

    @include desktop {
      padding: 21px 16px 38px 25px;
    }
  }

  &__left {
    position: relative;
    display: flex;
    margin-right: 33px;
    width: 164px;
    height: 164px;
    background: #0A0308;
    border-radius: 50%;

    @include desktop {
      align-self: center;
      margin-right: 12px;
      width: 126px;
      height: 126px;
    }
  }

  &__right {
    width: 70%;
  }

  &__img {
    position: absolute;
    top: 28%;
    left: 28%;

    @include desktop {
      width: 43%;
    }

    &--five {
      left: 20%;

      @include desktop {
        width: 59%;
      }
    }

  }

  &__title {
    margin-bottom: 7px;
    color: #FFFFFF;
  }

  &__paragraph {
    color: #FFFFFF;
  }
}