.advantages {
  padding-top: 102px;
  padding-bottom: 122px;

  &__block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }

  &__card {
    display: flex;
    padding: 30px 35px 30px 25px;
    background: rgba(153, 153, 153, 0.1);
    border-radius: 16px;
  }

  &__left {
    position: relative;
    display: flex;
    margin-right: 33px;
    width: 164px;
    height: 164px;
    background: #0A0308;
    border-radius: 50%;
  }

  &__right {
    width: 70%;
  }

  &__img {
    position: absolute;
    top: 28%;
    left: 28%;
  }

  &__title {
    margin-bottom: 7px;
    color: #FFFFFF;
  }

  &__paragraph {
    color: #FFFFFF;
  }
}