.modal {
  &-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 20;

    &.visible {
      opacity: 1;
      visibility: visible;
      transition: all 0.3s ease-in-out;
    }
  }
}

.callback {
  position: absolute;
  top: 15vw;
  left: calc((100% - 500px) / 2);
  background-color: #fff;
  width: 500px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: #000000;
  visibility: hidden;
  opacity: 0;
  z-index: 21;

  @include mobile {
    top: 10vw;
    left: calc((100% - 300px) / 2);
    width: 300px;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
  }

  &__close {
    position: relative;
    display: flex;
    margin-left: auto;
    width: 40px;
    height: 40px;

    &::after,
    &::before {
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      border-top: 2px solid #000000;
    }

    &::after {
      transform: rotate(45deg) translate(-3px, 25px);
    }

    &::before {
      transform: rotate(-45deg) translate(3px, 25px);
    }
  }

  &__title {
    margin-bottom: 20px;
    text-align: center;
  }

  &__text {
    margin-bottom: 20px;
  }

  &__accept {
    margin-top: 20px;
  }
}
