.clients {
  padding-top: 100px;
  padding-bottom: 37px;

  @include desktop {
    padding-top: 58px;
    padding-bottom: 15px;
  }

  @include mobile {
    padding-top: 40px;
  }

  &__section-title {
    margin-bottom: 50px;
  }

  &__swiper {
    padding-bottom: 107px;

    @include desktop {
      padding-bottom: 95px;
    }
  }

  &__swiper-wrapper {
    align-items: center;
  }
  

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;

    &:focus {
      outline: 2px solid #4D07B5;
    }

    @include for-desktop {
      &:hover {
        opacity: 0.7;
      }
      &:active {
        outline: 2px solid #4D07B5;
      }
    }
  }

  &__swiper-img {
    align-self: center;
  }

  &__swiper-pagination > .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #7BD7BD;
    opacity: 1;

    @include desktop {
      width: 10px;
      height: 10px;
    }
  }

  &__swiper-pagination > .swiper-pagination-bullet-active {
    background: #F0FF74;
  }
}