*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
  box-sizing: border-box;
}

// breakpoints

@mixin for-desktop {
  @media (min-width: (1025px)) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: (1240px)) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: (990px)) {
    @content;
  }
}

@mixin small-tablet {
  @media (max-width: (710px)) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: (578px)) {
    @content;
  }
}

a {
  color: inherit;
  text-decoration: none;
  outline: none;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
	line-height: 1;
  background-color: #FFFFFF;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  max-width: 1240px;
  min-width: 320px;

  @include desktop {
    padding: 0 40px;
  }

  @include small-tablet {
    padding: 0 20px;
  }
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 28px;
  line-height: 116.68%;

  @include mobile {
    font-size: 26px;
  }
}

.paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 116.68%;

  @include mobile {
    font-size: 16px;
  }
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.black {
  background-color: #0A0308;
}

.green {
  height: 100%;
  background: linear-gradient(93.7deg, #7BD7BD 4.94%, #DBE774 36.82%, #C7DE8A 95.51%);
}

.grey-text {
  display: inline-block;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 300;
  font-size: 33px;
  line-height: 116.68%;
  color: #999999;

  @include desktop {
    margin-bottom: 30px;
  }

  @include tablet {
    font-size: 25px;
  }

  @include mobile {
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.section-title {
  margin-bottom: 50px;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 116.68%;
  color: #0A0308;

  @include desktop {
    font-size: 44px;
  }

  @include tablet {
    margin-bottom: 40px;
    font-size: 38px;
  }

  @include mobile {
    font-size: 30px;
  }
}

.gradient {
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;
  background-image: linear-gradient(91.4deg, #8D46F6 1.01%, #4D07B5 46.98%);
}
