.consult {
  padding-top: 47px;
  padding-bottom: 133px;

  @include desktop {
    padding-top: 29px;
    padding-bottom: 87px;
  }

  @include mobile {
    padding-bottom: 45px;
  }

  &__section-title {
    margin-bottom: 101px;
    width: 85%;

    @include desktop {
      margin-bottom: 56px;
      width: 92%;
    }

    @include tablet {
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__paragraph {
    margin-bottom: 24px;
    font-weight: 600;
    font-size: 36px;
    line-height: 116.68%;
    color: #0A0308;

    @include desktop {
      margin-bottom: 32px;
      font-size: 32px;
    }

    @include mobile {
      margin-bottom: 22px;
      font-size: 18px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  &__label {
    position: relative;
    display: flex;
    padding: 20px 0;
    border-bottom: 1px solid #999999;

    @include mobile {
      padding: 22px 0;
    }

    & > .just-validate-error-label {
      position: absolute;
      top: 4px;
      left: 0;
      display: inline-block;
      width: 100%;
      font-size: 15px;

      @include mobile {
        font-size: 10px;
      }
    }
  }

  &__input {
    width: 100%;
    font-weight: 400;
    font-size: 36px;
    line-height: 116.68%;
    color: #999999;
    outline: none;

    &::placeholder {
      font-weight: 400;
      font-size: 36px;
      line-height: 116.68%;
      color: #999999;

      @include mobile {
        font-size: 18px;
      }
    }

    @include mobile {
      font-size: 18px;
    }
  }

  &__accept {
    display: flex;
    align-items: center;
    margin-top: 44px;

    @include mobile {
      flex-direction: column;
      margin-top: 35px;
    }
  }

  &__btn {
    display: inline-block;
    margin-right: 52px;
    padding: 10px 27px;
    min-width: 178px;
    min-height: 48px;
    font-weight: 400;
    font-size: 24px;
    line-height: 116.68%;
    color: #0A0308;
    background: #F0FF74;
    border-radius: 16px;

    &:focus {
      background: #8D46F6;
    }

    @include for-desktop {
      &:hover {
        color: #FFFFFF;
        background: linear-gradient(91.4deg, #8D46F6 1.01%, #4D07B5 46.98%);
      }
      &:active {
        background: #4D07B5;
      }
    }

    @include desktop {
      margin-right: 30px;
    }

    @include mobile {
      margin-right: 0;
      margin-bottom: 20px;
      width: 100%;
    }
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 116.68%;
    color: #0A0308;

    @include mobile {
      font-size: 16px;
    }
    & a {
      transition: all .3s ease-in-out;
      &:focus {
        color: #8D46F6;
      }
      @include for-desktop {
        &:hover,
        &:active  {
          color: #8D46F6;
        }
      }
    }
  }
}