.hero {
  padding: 28px 0 70px 0;
  background-image: linear-gradient(93.7deg, #7BD7BD 4.94%, #DBE774 36.82%, #C7DE8A 95.51%), url('../img/hero.svg');
  background-blend-mode: saturation;
  background-repeat: no-repeat;
  background-position: right 0 center;

  @include desktop {
    padding-top: 24px;
    padding-bottom: 62px;
    background-position: right -82% center
  }

  &__title {
    margin-bottom: 166px;
    font-weight: 700;
    font-size: 110px;
    line-height: 150px;
    color: #0A0308;

    @include desktop {
      margin-bottom: 188px;
      font-size: 101px;
    }
  }

  &__paragraph {
    width: 75%;
    margin-bottom: 68px;
    font-weight: 400;
    font-size: 38px;
    line-height: 116.68%;
    color: #0A0308;

    @include desktop {
      margin-bottom: 56px;
    }
  }

  &__btns {
    display: flex;
  }

  &__btn {
    padding: 10px 25px;
    min-width: 242px;
    min-height: 48px;
    font-weight: 400;
    font-size: 24px;
    line-height: 116.68%;
    color: #0A0308;
  }

  &__btn--yellow {
    margin-right: 20px;
    background: #F0FF74;
    border: 2px solid transparent;
    border-radius: 16px;
    transition: color .1s ease-in-out, background .3s ease-in-out;

    &:focus {
      background: #8D46F6;
    }

    @include for-desktop {
      &:hover {
        color: #FFFFFF;
        background: linear-gradient(91.4deg, #8D46F6 1.01%, #4D07B5 46.98%);
      }
      &:active {
        background: #4D07B5;
      }
    }
  }

  &__btn--order-call {
    border: 2px solid #0A0308;
    border-radius: 16px;
    transition: all .3s ease-in-out;

    &:focus {
      background: #8D46F6;
    }

    @include for-desktop {
      &:hover {
        color: #0A0308;
        background: #F0FF74;
        border-color: transparent;
      }
      &:active {
        color: #0A0308;
        background: #F0FF74;
      }
    }
  }
}