.promo {
  padding-top: 50px;
  padding-bottom: 50px;
  background: linear-gradient(93.7deg, #7BD7BD 4.94%, #DBE774 36.82%, #C7DE8A 95.51%), url("../img/back.svg");
  background-blend-mode: color;

  @include desktop {
    padding-top: 0;
    padding-bottom: 0;
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s ease-in-out;

    @include for-desktop {
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__svg {
    width: 65%;
  }

  &__title {
    width: 90%;
    font-weight: 600;
    font-size: 64px;
    line-height: 116.68%;
    color: #0A0308;

    @include desktop {
      font-size: 48px;
    }

    @include mobile {
      font-size: 30px;
    }

    & i {
      font-style: italic;
    }
  }
}