.promo {
  padding-top: 76px;
  padding-bottom: 104px;
  background: linear-gradient(93.7deg, #7BD7BD 4.94%, #DBE774 36.82%, #C7DE8A 95.51%), url("../img/back.svg");
  background-blend-mode: color;

  @include desktop {
    padding-top: 139px;
    padding-bottom: 131px;
  }

  @include tablet {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @include mobile {
    padding-top: 61px;
    padding-bottom: 61px;
  }

  &__link {
    display: inline-block;
    margin-bottom: 142px;

    @include desktop {
      margin-bottom: 111px;
    }

    @include tablet {
      margin-bottom: 80px;
    }

    @include mobile {
      margin-bottom: 60px;
    }
  }

  &__svg {
    height: 100%;
    @include desktop {
      width: 600px;
    }

    @include tablet {
      width: 450px;
    }

    @include mobile {
      width: 280px;
    }
  }

  &__title {
    width: 90%;
    font-weight: 600;
    font-size: 64px;
    line-height: 116.68%;
    color: #0A0308;

    @include desktop {
      font-size: 48px;
    }

    @include mobile {
      font-size: 30px;
    }

    & i {
      font-style: italic;
    }
  }
}