.service {
  padding-top: 99px;
  padding-bottom: 79px;

  @include desktop {
    padding-top: 58px;
    padding-bottom: 40px;
  }

  @include mobile {
    padding-top: 40px;
    padding-bottom: 30px
  }

  &__slider {
    @include small-tablet {
      padding-bottom: 60px;
    }
  }

  &__slider-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    @include small-tablet {
      flex-wrap: nowrap;
    }
  }

  &__section-title {
    margin-bottom: 49px;

    @include desktop {
      margin-bottom: 59px;
    }

    @include tablet {
      margin-bottom: 40px;
    }
  }

  &__card {
    padding: 18px 232px 100px 23px;
    width: 49%;
    height: 368px;
    background: #0A0308;
    border-radius: 16px;
    background-repeat: no-repeat;
    background-position: center right;

    &:nth-child(2n + 1) {
      margin-right: 20px;
      margin-bottom: 20px;

      @include small-tablet {
        margin-right: 0;
        margin-bottom: 0;
      }

      @include mobile {
        background-size: 85%;
      }
    }

    @include desktop {
      padding-right: 30px;
      width: 48.9%;
      height: 488px;
      background-position: right bottom;
    }

    @include tablet {
      padding: 18px 16px 100px 25px;
      width: 48%;
    }

    @include small-tablet {
      width: 100%;
    }
  }
  &__swiper-pagination {
    display: none;
  }

  @include small-tablet {
    &__swiper-pagination {
      display: inline-block;
    }
    &__swiper-pagination > .swiper-pagination-bullet {
      width: 9px;
      height: 9px;
      background: #7BD7BD;
      opacity: 1;
    }
  
    &__swiper-pagination > .swiper-pagination-bullet-active {
      background: #F0FF74;
    }
  }

  &__title {
    margin-bottom: 18px;
    font-weight: 600;
    font-size: 36px;
    line-height: 116.68%;
    text-transform: uppercase;
    color: #FFFFFF;

    @include desktop {
      font-size: 32px;
    }

    @include tablet {
      font-size: 21px;
    }

    @include small-tablet {
      font-size: 32px;
    }

    @include mobile {
      font-size: 24px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 116.68%;
    color: #FFFFFF;

    @include mobile {
      font-size: 16px;
    }
  }

  &__card--1 {
    background-image: url('../img/service-1.png');
  }
  &__card--2 {
    background-image: url('../img/service-2.png');
  }
  &__card--3 {
    background-image: url('../img/service-3.png');
  }
  &__card--4 {
    background-image: url('../img/service-4.png');
  }
  &__card--5 {
    background-image: url('../img/service-5.png');
  }
  &__card--6 {
    padding-right: 252px;
    background-image: url('../img/service-6.png');

    @include desktop {
      padding-right: 30px;
    }
  }
  &__card--7 {
    background-image: url('../img/service-7.png');
    background-position: bottom 32% right;

    @include desktop {
      background-position: bottom 0 right;
    }
  }
  &__card--8 {
    padding-right: 297px;
    background-image: url('../img/service-8.png');
    background-position: bottom -1% right;
    @include desktop {
      padding-right: 30px;
    }

  }

}

@include mobile {
  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}
}