.steps {
  padding-top: 49px;
  padding-bottom: 50px;

  @include desktop {
    padding-top: 29px;
    padding-bottom: 25px;
  }

  &__section-title {
    width: 90%;

    @include desktop {
      margin-bottom: 60px;
      width: 100%;
    }

    @include mobile {
      margin-bottom: 38px;
    }
  }

  &__accordion {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    width: 100%;
    text-align: left;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
    outline: none;
    color: #4D07B5;
    background-color: transparent;
    cursor: pointer;
    transition: all .5s ease-in;

    @include for-desktop {
      &:hover .steps__text {
        color: #8D46F6;
      }
    }

    @include desktop {
      padding: 51px 0;
    }

    @include small-tablet {
      padding: 30px 0;
    }

    @include mobile {
      padding: 15px 0;
    }

    &.active .steps__arrow {
      transform: rotate(180deg);
    }
  }

  &__number {
    display: inline-block;
    margin-right: 106px;
    font-style: normal;
    font-weight: 300;
    font-size: 38px;
    line-height: 116.68%;
    color: #999999;

    @include desktop {
      margin-right: 32px;
      font-size: 36px;
    }

    @include small-tablet {
      margin-right: 20px;
      font-size: 30px;
    }

    @include mobile {
      margin-right: 13px;
      font-size: 22px;
    }
  }

  &__text {
    display: inline-block;
    margin-right: auto;
    font-weight: 600;
    font-size: 38px;
    line-height: 116.68%;
    color: #0A0308;
    transition: all .3s ease-in-out;

    @include desktop {
      max-width: 75%;
      font-size: 36px;
    }

    @include small-tablet {
      font-size: 22px;
    }

    @include mobile {
      font-size: 18px;
    }
  }

  &__arrow {
    display: inline-block;
    margin-left: 10px;
    margin-right: 41px;
    width: 26px;
    height: 39px;
    background-image: url('../img/arrow-down.svg');
    background-repeat: no-repeat;
    background-size: contain;
    transition: all .3s ease-in-out;

    @include small-tablet {
      width: 12px;
      height: 18px;
      margin-left: 5px;
      margin-right: 2px;
    }
  }

  &__panel {
    max-height: 0;
    background-color: white;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    & > p {
      padding: 20px 18px;

      @include mobile {
        font-size: 16px;
      }
    }
  }
}