.why {
  padding-top: 100px;
  padding-bottom: 99px;

  @include desktop {
    padding-top: 59px;
    padding-bottom: 62px;
  }

  @include mobile {
    padding-top: 40px;
  }
  
  &__section-title {
    margin-bottom: 84px;
    color: #0A0308;

    @include mobile {
      margin-bottom: 42px;
    }
  }

  &__title {
    color: #FFFFFF;
  }

  &__block {
    display: flex;

    @include desktop {
      flex-wrap: wrap;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 25%;

    &:not(:last-child) {
      margin-right: 20px;
      @include desktop {
        margin-right: unset;
      }
    }

    @include desktop {
      width: 48%;

      &:not(:nth-child(2n)) {
        margin-right: 20px;
      }

      &:nth-child(n+2) {
        margin-bottom: 20px;
      }
    }

    @include mobile {
      width: 100%;

      &:not(:nth-child(2n)) {
        margin-right: unset;
      }

      &:nth-child(n+2) {
        margin-bottom: unset;
      }

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__top {
    margin-bottom: 17px;

    @include mobile {
      margin-bottom: 10px;
    }
  }

  &__image {
    height: 224px;
    width: 100%;
    border-radius: 16px;

    @include desktop {
      height: 100%;
    }
  }

  &__title-small {
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 28px;
    line-height: 116.68%;
    color: #0A0308;

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 20px;
    line-height: 116.68%;
    color: #0A0308;

    @include mobile {
      font-size: 16px;
    }
  }
}