.why {
  padding-top: 80px;
  padding-bottom: 80px;

  @include desktop {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  @include mobile {
    padding-top: 40px;
  }
  
  &__section-title {
    color: #0A0308;
  }

  &__title {
    color: #FFFFFF;
  }

  &__block {
    display: flex;

    @include desktop {
      flex-wrap: wrap;
    }

    @include mobile {
      flex-direction: column;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 25%;

    &:not(:last-child) {
      margin-right: 20px;
      @include desktop {
        margin-right: unset;
      }
    }

    @include desktop {
      width: 48%;

      &:not(:nth-child(2n)) {
        margin-right: 20px;
      }

      &:nth-child(n+2) {
        margin-bottom: 20px;
      }
    }

    @include mobile {
      width: 100%;

      &:not(:nth-child(2n)) {
        margin-right: unset;
      }

      &:nth-child(n+2) {
        margin-bottom: unset;
      }

      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__top {
    margin-bottom: 17px;

    @include mobile {
      margin-bottom: 10px;
    }
  }

  &__image {
    height: 224px;
    width: 100%;
    border-radius: 16px;

    @include desktop {
      height: 100%;
    }
  }

  &__title-small {
    margin-bottom: 8px;
    font-size: 25px;
    color: #0A0308;

    @include tablet {
      font-size: 23px;
    }

    @include mobile {
      margin-bottom: 12px;
    }
  }

  &__paragraph {
    font-size: 19px;
    color: #0A0308;
    @include tablet {
      font-size: 18px;
    }

    @include mobile {
      font-size: 16px;
    }
  }
}